ecocounter_example.html
**/__pycache__/*
**/.ipynb_checkpoints/*
.idea/*
doc/_build
doc/auto_examples
**/*.log
build/*
dist/*
data/*
**/*.egg-info/*
prof/*
htmlcov/*
.vscode/*
**/*.parquet*
**/*.csv
.pep8
pytest_report.xml
.coverage
coverage.xml
libs/*
secrets/*
logs/*
logs
copilot_prompt.txt