beautifulsoup4
ipykernel
ipympl
jours-feries-france
jsonpath_ng
jupyter_bokeh
line_profiler
matplotlib
meteostat
nbsphinx
numpy
pandas
pillow
pydata-sphinx-theme
pytest-cov
pytest
pyarrow
seaborn
scikit-learn
scipy
sphinx
sphinx-gallery
sphinx-panels
sphinx_design
sktime
statsmodels
toml
tqdm
twine
uv
vacances-scolaires-france
xgboost
